<div class="container" style="margin:100px">
    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="text-center">Modificar promoción</h2>
            <form action="/admin/promociones/modificarpromocion" method="post">
                <input type="hidden" value="{{promocion.id}}" name="id">
                <div class="form-group" style="margin:10px auto">
                    <label for="">Título:</label>
                    <input type="text" class="form-control" name="titulo" value="{{promocion.titulo}}">
                </div>
                <div class="form-group" style="margin:10px auto">
                    <label for="">Descripción:</label>
                    <textarea name="descripcion" class="form-control">{{promocion.descripcion}}</textarea>
                </div>
                <div class="form-group" style="margin:10px auto">
                    <label for="">Precio:</label>
                    <input type="text" class="form-control" name="precio" value="{{promocion.precio}}">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin:10px auto">
                    <button type="submit" class="btn btn-primary">Modificar</button>
                </div>
            </form>
            {{#if error}}
            <p class="error">{{message}}</p>
            {{/if}}
        </div>
    </div>