<div class="container-fluid" style="margin-top:100px">
    {{!--Fila 1 --}}
    <div class="row">
        <div class="col">
            <p><a class="link-opacity-100" href="/admin/home">Volver al home</a></p>
        </div>
        <div class="col">
            <p class="text-end">
                <span>¡Hola {{persona}}!</span>
                <a href="/admin/login/logout" class="btn btn-link">Cerrar sesión<i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
    {{!-- Fin fila 1--}}

    {{!-- Inicio fila 2--}}
    <div class="row">
        <div class="col-7" style="margin-top:-9px ;">
            <h2>Listado de novedades</h2>
        </div>
        <div class="col-2 d-grid gap-2 d-md-flex justify-content-md-end" style="margin:10px auto">
            <a href="/admin/novedades/agregarnovedad" class="btn btn-success"><i class="fas fa-plus"></i>Nuevo</a>
        </div>
        <div class="col-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <form class="d-flex" action="/admin/novedades" method="get">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="q" 
                {{#if q}} value="{{q}}" {{/if}}>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </form>
        </div>

    </div>
    {{!-- Fin fila 2--}}
        
    {{!-- Inicio fila 3--}}
    <div class="row">
        <div class="col">
            <table class="table" style="margin: 10px auto;">
                <thead>
                    <tr class="table-danger">
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col" class="text-right">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td class="text-right">
                            <a href="/admin/novedades/modificarnovedad/{{id}}" class="btn btn-secondary"><i
                                    class="fas fa-pencil-alt"></i></a>
                            <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-secondary"><i
                                    class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            {{#if is_search}}
            {{#unless novedades.length}}
                <p class="text-center">No se encontraron resultados para "<b>{{q}}</b>"</p>
            {{/unless}}
            {{/if}}

        </div>
    </div>
    {{!-- Fin fila 3--}}
</div>